.container{
width: 1180px;
margin: 0 auto;    
}
.cards{
display: flex;
justify-content: space-between;    
margin-top: 100px;    
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.card{
margin-top: 40px;    
}
.card h1{
font-size: 45px;   
font-weight: bold; 
color: #423f8d;
width: 450px;
line-height: 50px;
letter-spacing: 1.5px;
}
.card p{
color: rgb(83, 83, 83);
width: 530px;
font-size: 18px;
padding-top: 30px;
line-height: 22px;
letter-spacing: 1.1px;
}
.cardimg img{
width: 500px;   
height: 400px; 
object-fit: cover;
}
.but{
margin-top: 40px;    
}
.but button{
padding: 17px 32px;  
font-size: 18px;  
letter-spacing: 1.1px;
background: #ff5800;
border: none;
border-radius: 25px;
color: #fff;
cursor: pointer;
}
@media screen and (max-width: 767px){
.container{
width: 100%;    
}    
.cards{
display: block;   
padding-top: 10px; 
}    
.card h1{
width: 90%;  
margin: 0 auto;      
font-size: 25px;
line-height: 30px;  
}
.card p{
font-size: 18px;
line-height: 25px;
width: 90%;  
margin: 0 auto;  
padding-top: 10px;
}
.but{
width: 90%;  
margin: 0 auto;      
margin-top: 30px;    
}
.but button{
padding: 14px 25px;    
}
.cardimg{
width: 90%;  
margin: 0 auto;     
padding-top: 20px;  
}
.cardimg img{
width: 100%;   
height: 320px; 
}    
}
@media (min-width: 768px) and (max-width: 1220px){
.container{
width: 100%;    
}   
.cards{  
padding-top: 10px; 
}  
.card h1{
width: 80%;  
margin: 0 auto;      
font-size: 30px;
line-height: 30px;  
}
.card p{
font-size: 20px;
line-height: 25px;
width: 80%;  
margin: 0 auto;  
padding-top: 10px;
}
.but{
width: 80%;  
margin: 0 auto;      
margin-top: 30px;    
}
.but button{
padding: 14px 25px;    
}
.cardimg{
width: 100%;  
margin: 0 auto;     
padding-top: 20px;  
}
.cardimg img{
width: 100%;   
height: 320px; 
}    
}